.page-body {
  font-family: Ubuntu;
  background: url(../img/background.png) center/cover no-repeat;
}
.container {
  margin: 0 auto;
  width: 444px;
  height: 584px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 1366px; */
  width: 100vw;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-title-link {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin-left: 79px;
  margin-right: 900px;
}
.header-login-link {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.header-login-link1 {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-right: 79px;
}
.header-login-link::before {
  content: "|";
  font-size: 20px;
  opacity: 0.5;
  padding-right: 25px;
}

a.header-vector-link1 {
  background: url(../img/vector1.svg) center/cover no-repeat;
  height: 24px;
  width: 21px;
  margin-right: 25px;
}
a.header-vector-link2 {
  background: url(../img/vector2.svg) center/cover no-repeat;
  height: 23px;
  width: 23px;
  margin-right: 25px;
}
a.header-vector-link3 {
  background: url(../img/vector3.svg) center/cover no-repeat;
  height: 23px;
  width: 23px;
  margin-right: 25px;
}
a.header-vector-link1:hover {
  background: url(../img/vector1-1.svg) center/cover no-repeat;
  transition: 0.5s;
}
a.header-vector-link2:hover {
  background: url(../img/vector2-2.svg) center/cover no-repeat;
  transition: 0.5s;
}
a.header-vector-link3:hover {
  background: url(../img/vector3-3.svg) center/cover no-repeat;
  transition: 0.5s;
}
.header-title-link:hover {
  color: #3cb878;
  transition: 0.5s;
}
.header-vector-img:hover {
  color: #3cb878;
  transition: 0.5s;  
}
.header-login-link:hover .accent-color {
  color: #3cb878;
  transition: 0.5s;
}
.header-login-link1:hover .accent-color {
  color: #3cb878;
  transition: 0.5s;
}

/* =============== END HEADER ==============*/
.form-container {
  margin: 0 auto;
  position: relative;
  width: 324px;
}
.form {
  height: 584px;
  width: 444px;
  border: 1px solid yellow;
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin-top: 55px;
}
.form-main {
  margin: 0 auto;
  width: 324px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.greenbox {
  margin-top: 29px;
  width: 18px;
  height: 18px;
  background: #3cb878;
  position: absolute;
  top: 105px;
}
.form-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.form-login {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;  
}
.form-login:hover {
  color: #01813F;
}
.form-button-f {
  display: flex;
  width: 160px;
  height: 48px;
  background: #305db8;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  border: none;
  align-items: center;
  padding-left: 16px;
}

.form-button-g {
  display: flex;
  width: 160px;
  height: 48px;
  background: #df4a32;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  border: none;
  align-items: center;
}
.form-button-f:hover {
  background: #022263;
}
.form-button-g:hover {
  background: #AB1F09
}
.button-text-f {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.button-text-g {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.button-text-f::before {
  content: "|";
  margin-left: 7px;
  font-size: 25px;
  padding-right: 10px;
  opacity: 0.1;
}
.button-text-g::before {
  content: "|";
  margin-right: 3px;
  font-size: 25px;
  padding-right: 10px;
  opacity: 0.1;
}
.img-button-f {
  margin-left: 5px;
  margin-right: 15px;
}
.img-button-g {
  margin: 10px;
}
.form-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  color: #848484;
  margin-top: 20px;
}
.form-text::before {
  content: "———————————";
  padding-right: 1px;
}
.form-text::after {
  content: "———————————";
  padding-left: 2px;
  text-align: center;
}
.form-input {
  width: 322px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-left: 19px;
  
}
.form-input:focus {
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: none;
}

/* ========================== CheckBox========================== */
[id^=c]{
  display: none;
}
[id^=c] + label{

  width: 30px;
  height: 30px;
  border: 1px solid green;
  text-align: center; 
  margin-top: 12px; 
}
[id^=c] + label:before{
  content: '\2713';
  display: inline-block;
  color: green;
  font-size: 30px;
  line-height: 30px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
[id^=c]:checked + label:before{    
  -webkit-transform: scale(1);
  transform: scale(1);
}
.footer-text {
  display: inline;
  font-weight: 400;
font-size: 14px;
line-height: 14px;
margin-left: 8px;
}
.footer-term-link {
  color: #3CB878;
}
.footer-term-link:hover {
  text-decoration: underline;
  color: #01813F;
}
.butt-creat-acc {
  width: 324px;
height: 46px;
background: #3CB878CC;
border-radius: 4px;
color: #FFFFFF;
border: none;
margin-top: 30px;
font-weight: 400;
font-size: 16px;
line-height: 16px;
}
.butt-creat-acc:hover {
  background: #01813F;
}

